# IDE - IntelliJ
.idea/
*.iml
*.iws
*.ipr

# IDE - VS Code
.vscode/

# Sistema Operacional
.DS_Store
Thumbs.db
*~

# Node / Frontend (virá depois)
node_modules/
dist/
.env
.env.local
*.log

# Variáveis de ambiente e segredos
.env
*.local